

<form method="post" action="/translate">
  <div class="row">
    <div class="large-12 columns">
      <label> Translate word:
        <input type="text" placeholder="Enter your word to be translated..." id="word" name="word" />
      </label>
    </div>
  </div>
   <div class="row">
    <div class="large-12 columns">
    <div>
      <input type="submit" value="Submit Info">
     </div>
  </div>
</div>
</form>
