<!DOCTYPE html>
<html>
<head>
  <title> Movies </title>
</head>
<body>
 

<h1> Movies and Actors </h1>

<ul>
<li><a href = '/movies'> Click to see all movies </a></li>
<li><a href = '/actors'> Click to see all actors </a></li>
</ul>

</body>
</html>

<!-- added actors link --> 
<!-- /movies is looking at the endpoint --> 