<!DOCTYPE html>
<html>
<head>
  <title> Movies </title>
</head>
<body>


<h1> Movie Titles </h1>

<ul>
<% @movies.each do |movie| %>
  <li><a href= '/movies/<%= movie['id'] %>'><%= movie['title'] %></a></li>
<% end %>
</ul>

</body>
</html>


